.app__container__messages {
    border: 5px solid gold;
    border-radius: 5px;
    background-color: rgba(0,0,0, .7);
    list-style-type:none;
    list-style-image:none;
    padding: 0 20px;
    grid-row: 2;
}

.app__container__messages_message {
    margin: 10px 0;
    font-size: 1.5em;
    text-align:left;
}

.app__container__messages_message-selected {
    font-weight: bold;
    font-size: 1.6em;
}

.app__container__messages-left {
    grid-column: 2 / 4;
}

.app__container__messages-right {
    grid-column: 4 / 6;
}