.app__container__game-state {
    grid-column: 3 / 5;
    grid-row: 1;
    font-size: 3em;
    font-weight:bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .app__container__game-state__time {
    flex-grow: 0;
    margin-top: 25px;
    font-size: 2em;
    flex-shrink: 0;
  }

  .app__container__game-state__spacer {
    flex-grow: 1;
  }

  /* .app__container__game-state__state {} */